body {
    font-family: Trebuchet MS;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.errorPage {
    background: url(/images/404.png);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.errorPage__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.errorPage__button {
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
    color: #000000;
    padding: 10px 30px;
    letter-spacing: 0.2em;
    box-shadow: 7px 7px 20px #00000026;
    border-radius: 10px;
    background: #fff;
    transition: transform 300ms ease;
}

.errorPage__button:hover {
    transform: translateY(2px);
    box-shadow: 3px 3px 20px #00000026;
}

.errorPage__button:active {
    transform: translateY(2px);
    box-shadow: 3px 3px 20px #00000026;
}

.errorPage__text h3 {
    font-size: 20vw;
    line-height: 1;
    margin: 0;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 7px 7px 20px #00000026;
}

@media only screen and (min-width: 768px) {
  .header__menu .hamburger__menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header__menu ul {
    display: none;
  }
}